<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<contextName>sureness</contextName>
	<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>1-%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="SystemOutFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/tomcat/logs/sureness/SystemOut.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/opt/tomcat/logs/sureness/sys_bak/SystemOut-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>===%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger Line:%-3L - %msg%n</pattern>
			<charset>utf-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>debug</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="org.springframework" level="debug"/>
	<logger name="org.springframework.boot.autoconfigure" level="info"/>
	<logger name="org.json" level="error"/>
	<logger name="io.netty" level="info"/>
	<logger name="org.slf4j" level="info"/>
	<logger name="ch.qos.logback" level="info"/>


	<springProfile name="prod">
		<root level="DEBUG">
			<appender-ref ref="SystemOutFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</springProfile>

	<springProfile name="dev">
		<root level="DEBUG">
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</springProfile>
</configuration>